{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël{% endblock %}

{% block body %}

<h2>{{ general.motPageAccueil|raw}}</h2>


{% if general.photoAccueilPath == NULL %}
    <img style="width: 350px" src="{{ asset('img/default/Default.png' ) }}" alt="">
{% else %}
<figure class="center home">
    <img src="{{ asset('img/'~ general.photoAccueilPath ) |imagine_filter('home') }}" alt="{{ general.titreDuSiteHeader }}">
</figure>
{% endif %}

{% endblock %}
