{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Créer catégorie{% endblock %}

{% block body %}

{% include "admin/adminNav.html.twig" %}

<h2>Créer/Modifier un lien</h2>

{{ form_start(form)}}

    {{ form_row(form.titre)}}
    {{ form_row(form.lien)}}
    <input type="submit" value="Valider">

{{ form_end(form)}}
    
{% endblock %}

