{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Admin{% endblock %}

{% block body %}

    <h1>Espace Admin</h1>

    <a href="{{ path('admin_general') }}">Informations générales</a>
    <a href="">Actualités</a>
    <a href="">Expos</a>
    <a href="">Liens</a>
    <a href="{{ path('admin_categories') }}">Catégories</a>
    <a href="">Photos</a>

{% endblock %}
