{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Créer catégorie{% endblock %}

{% block body %}

{% include "admin/adminNav.html.twig" %}

<h2>Créer/Modifier une catégorie</h2>

{{ form_start(form)}}

    {{ form_row(form.titre)}}

    <input type="submit" value="Valider">
{{ form_end(form)}}
    
{% endblock %}
